<div class="field">
      <%= f.label :regex_old %><br />
      
      <%= f.text_field :regex_old %><br />
    
      <%= f.label :regex_new %><br />
      <%= f.text_field :regex_new %><%= link_to_remove_fields "remove", f %><br />
    </div>