<%= form_for(@interpolation) do |f| %>
  <% if @interpolation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interpolation.errors.count, "error") %> prohibited this interpolation from being saved:</h2>

      <ul>
      <% @interpolation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="login2">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :private %><br />
    <%= f.check_box :private %>
  </div>
  <div>
  <%= f.fields_for :changes do |c| %>
    <%= render "change_fields", :f => c %>
  <%end%>

  <%= link_to_add_fields "Add Change", f, :changes %>
</div>
  <div class="actions">
    <%= f.submit :id => 'submit'%>
  </div>
</div>
<% end %>
