<%= link_to image_tag("logo_int.gif", :alt => "Interpolator"), :interpolations %>
<p id="notice"><%= notice %></p>
<div id="page">
<h1>
  <%= @interpolation.name %>
</h1>

<p>
  <b>Created by:</b>
  <%=link_to @interpolation.user.username, @interpolation.user %>
</p>
<div id="explanation" >
<% @interpolation.changes.each do |change| %>
  <dl>
    <dt><b>Change: </b></dt>    
    <dd><%= change.regex_old%></dd>
    <dt><b>To: </b></dt>
    <dd><%= change.regex_new%></dd>
  </dl>
<% end %>
</div>
<hr />
<h2><b>Comments:</b></h2>

<% @interpolation.comments.each do |comment| %>
  <div id="comment">
  <p>
    <b><%=comment.user.username%></b>
    
    <p><%= comment.content%></p>
    <p id="timestamp"><%= comment.created_at%></p>
  </p>
  </div>
<% end %>

<div id="comments">

<%= link_to 'Add comment', new_interpolation_comment_path(@interpolation) %>
</div>
<%= ratings_for @interpolation, :dimensions => :awesomeness %>
<p>
  <b><%= pluralize(@interpolation.downloads_count, "download") %></b>
</p>

<% if current_user == @interpolation.user %>
<%= link_to 'Edit', edit_interpolation_path(@interpolation) %> |
<% end %>
<%= link_to 'Back', interpolations_path %>
<%= link_to 'Download', new_interpolation_download_path(@interpolation) %>
</div>
