<a href="http://localhost:3000/interpolations"><%= image_tag("logo_int.gif", :alt => "Interpolator") %></a><h1 class="centerer">Listing users</h1>
<p id="notice"><%= notice %></p>
<div id="login2">
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <% if current_user == user %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>
<br />
 
<p id="backlink"><%= link_to 'New User', new_user_path %></p>