<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<b>Created:</b>
<% @user.interpolations.each do |i| %>
<p><%= link_to i.name, i %></p>
<% end %>

<b>Downloads:</b>
<% @user.downloads.each do |d| %>
<p>
  <%= link_to d.interpolation.name, d.interpolation %>
</p>
<% end %>


<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
